<div id="errors_panel">
  <% if object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= t "views.errors_contain" %>
          <%= pluralize object.errors.count, t("views.error") %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
