<section id="section-1" class="not-home">
  <div class="container">
    <div class="row">
      <div id="main-slider" class="no-margin pull-left col-md-9 col-xs-12"
        data-ride="carousel">
        <div class="carousel slide wet-asphalt">
          <ol class="carousel-indicators">
          </ol>
          <div class="carousel-inner">
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 pull-right mg0 pd0 ">
        <div class="container-fluid">
          <div class="row">
            <div class="module-kfc find-kfc">
              <div class="clearfix">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-5 col-xs-3 pd0">
                    </div>
                    <div class="col-sm-7 col-xs-9 pd0">
                      <label class="font_en">
                        <%= t ".find_restaurant"%>
                      </label>
                    </div>
                    <div class="col-sm-12 col-xs-9 drop-kfc">
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="module-kfc for-pc">
              <span id="module"></span>
              <div class="for-pc fix-height mid">
                <span>
                  <%= link_to products_path do %>
                    <%= image_tag "module-2", class: "img-responsive" %>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
