<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("title_page"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("login"), "#", id: "head" %></li>
      </ul>
    </nav>
  </div>
</header>
