<section id="nav-menu">
  <div class="container">
      <div class="row">
          <div class="nav-career-mobile">
    <div class="clearfix">
      <div class="dropdown clearfix"> <a data-toggle="dropdown" class="btn btn-danger col-xs-5" href="">
      <span id="name_menu_active" style="white-space:normal;">Thực đơn</span>
      <span class="arrow-btn pull-right"></span></a>
      <ul class="dropdown-menu nav nav-pills menu_food_list" role="menu">
                <li id="2" class="active"> <a href="javascript:void(0);" onclick="kfc.load_food_detail('2');" title="PHẦN ĂN COMBO">
          PHẦN ĂN COMBO          </a> </li>
                <li id="1" class=""> <a href="javascript:void(0);" onclick="kfc.load_food_detail('1');" title="GÀ RÁN &amp; GÀ QUAY">
          GÀ RÁN &amp; GÀ QUAY          </a> </li>
                <li id="3" class=""> <a href="javascript:void(0);" onclick="kfc.load_food_detail('3');" title="BURGER - CƠM">
          BURGER - CƠM          </a> </li>
                <li id="4" class=""> <a href="javascript:void(0);" onclick="kfc.load_food_detail('4');" title="THỨC ĂN NHẸ">
          THỨC ĂN NHẸ          </a> </li>
                <li id="6" class=""> <a href="javascript:void(0);" onclick="kfc.load_food_detail('6');" title="TRÁNG MIỆNG &amp; THỨC UỐNG">
          TRÁNG MIỆNG &amp; THỨC UỐNG          </a> </li>
              </ul>
      <div class="btn box-cart for-mobile col-xs-7 pdr0"><a relclick="kfc.check_items();"><span>
        Phần ăn đã chọn        </span> <span><span class="cart-mobile"></span><span class="cart-no-mobile">0</span></span></a></div>
    </div>
    </div>
  </div>
      </div>
    </div>
</section>
